<div id="tbox">
    <div class="sidebar">
      <div id="notes" >Notes</div>
      <button id="close">Done</button>
    </div>
  
    <textarea id="textarea" rows="25" cols="50">
  </textarea>
  </div>