<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>User Input</title>
    <style>
      .formBox {
        padding: 0.5rem 2rem;
      }
    </style>
  </head>
  <body>
    <form>
      <!-- user1 -->
      <div class="formBox">
        <label for="uName1">Name</label>
        <input type="text" id="uName1" placeholder="name" />
      </div>
      <div class="formBox">
        <label for="desc1">Description</label>
        <textarea type="text" id="desc1" placeholder="description"></textarea>
      </div>


      <!-- user2 -->
      <div class="formBox">
        <label for="uName2">Name</label>
        <input type="text" id="uName2" placeholder="name" />
      </div>
      <div class="formBox">
        <label for="desc2">Description</label>
        <textarea type="text" id="desc2" placeholder="description"></textarea>
      </div>


      <!-- user3 -->
      <div class="formBox">
        <label for="uName3">Name</label>
        <input type="text" id="uName3" placeholder="name" />
      </div>
      <div class="formBox">
        <label for="desc3">Description</label>
        <textarea type="text" id="desc3" placeholder="description"></textarea>
      </div>

      <!-- user4 -->
      <div class="formBox">
        <label for="uName4">Name</label>
        <input type="text" id="uName4" placeholder="name" />
      </div>
      <div class="formBox">
        <label for="desc4">Description</label>
        <textarea type="text" id="desc4" placeholder="description"></textarea>
      </div>

      <!-- user5 -->
      <div class="formBox">
        <label for="uName5">Name</label>
        <input type="text" id="uName5" placeholder="name" />
      </div>
      <div class="formBox">
        <label for="desc5">Description</label>
        <textarea type="text" id="desc5" placeholder="description"></textarea>
      </div>
      <div class="formBox">
        <textarea type="text" id="dummy" placeholder="Supervisor comments here"></textarea>
      </div>
      <div id="msg">
        <pre></pre>
      </div>
    </form>
  </body>
</html>