<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>

<body>
    



<div class="loginbox">

<div class="logininput">
    <form action="/reset-password" method="POST">
        <div class="inputbox">
            <% if (errors) { %>
              <% if(errors[0].msg !== null) { %>
                <p id="errormessage">
                <%= errors[0].msg %>
            </p>

            <% }  } %>
        </div>

      <div class="inputbox">
        <div id="field">
        <label for="email">Email</label></div>
        <div id="field"><input type="email" id="email" name="email" placeholder="Enter Email"
        value="<%= typeof email != 'undefined' ? email : '' %>" required></div>
      </div>



      <div class="inputbox">
      <button class="submitbutton" type="submit">Retrieve Account</button>
    </div>
    </form>
</div>
<a id="forgot" href="/login">Back to login</a>

</div>

</body>
</html>



